.loginBackground{
    -fx-background-image: url("images/Publisher_material/Display_5.jpg");
    -fx-background-size: cover;
}

.waiting{
    -fx-background-image: url("images/misc/sfondo_parquet.jpg");
    -fx-background-size: cover;
}

.board{
    -fx-background-image: url("images/boards/livingroom.png");
    -fx-background-size: cover;
    /*TODO capire background-size*/
}

.game{
    -fx-background-image: url("images/misc/sfondo_parquet.jpg");
    -fx-background-size: cover;
}