.loginBackground{
    -fx-background-image: url("images/Publisher_material/Display_5.jpg");
    -fx-background-size: cover;
}

.waiting{
    -fx-background-image: url("images/Publisher_material/Display_5.jpg");
    -fx-background-size: cover;
}