.loginBackground{
    -fx-background-image: url("images/Publisher_material/Display_5.jpg");
    -fx-background-size: cover;
}

.waiting{
    -fx-background-image: url("images/misc/sfondo_parquet.jpg");
    -fx-background-size: cover;
}

.board{
    -fx-background-image: url("images/boards/livingroom.png");
    -fx-background-size: cover;
}

.game{
    -fx-background-image: url("images/misc/sfondo_parquet.jpg");
    -fx-background-size: cover;
}

.selectedTiles{
    -fx-background-color: #a5552a;
}

.enterUsername{
    -fx-background-image: url("images/misc/base_pagina2.jpg");
}

.enterNumOfPlayer{
    -fx-background-image: url("images/misc/base_pagina2.jpg");
}

.endGameResult{
    -fx-background-image: url("images/misc/base_pagina2.jpg");
}

.classification{
    -fx-background-image: url("images/misc/base_pagina2.jpg");
}

.initialRequest{
    -fx-background-image: url("images/misc/base_pagina2.jpg");
}